/* --------------
STYLE SECTIONS
1. ILLUSTRATION BANNER
2. MAIN
3. PATTERNS 
4. MENUS
5. ALBUMS
6. MEDIA QUERIES
-------------- */

/* 1. ILLUSTRATION BANNER */

#illustration-banner {
    width: 100%;
}

/* 2. MAIN */

main section {
    padding: 4rem 0 0 0;
}

/* 3. PATTERNS */

.art-page-text {
    margin: 2.5rem 10% 4rem;
}
#patterns-wrapper {
    background-image: url('../images/patterns/diamond-sashiko.svg');
    background-size: 100px;
    background-repeat: repeat;
}
#parallelograms-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 300px;
    margin: 0 auto;
}
.parallelogram {
    height: 100%;
    width: 20%;
    transform: skew(341deg);
    background: transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.pattern {
    background-repeat: repeat;
    height: 100%;
    width: 500%;
    position: relative;
    transform: translateX(-150px) skew(-341deg);
}
#pattern1 {
    background-image: url('../images/patterns/art-deco-fans.svg');
    background-size: 90px;
}
#pattern2 {
    background-image: url('../images/patterns/fish-scale-pattern.svg');
    background-size: 100px;
}
#pattern3 {
    background-image: url('../images/patterns/grunge-rubiks-pattern.png');
    background-size: 120px;
}
#pattern4 {
    background-image: url('../images/patterns/ogee-pattern.svg'), linear-gradient(to top, rgb(179, 17, 65), rgb(255, 149, 0));
    background-size: 100px, 100%;
    background-repeat: repeat, no-repeat;
    
}
#pattern5 {
    background-image: url('../images/patterns/dog-things-desaturated.png');
    background-size: 170px;
}
#pattern-label-container {
    height: 1rem;
}
#pattern-name {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: .75rem;
    color: rgb(165, 165, 169);
    text-transform: uppercase;
    margin: 1rem 3.5rem;
}

/* 4. MENUS */

.doodle {
    background-repeat: repeat;
    background-size: 95px;
    padding: 4rem 0 2rem 0;
}
#patterns .doodle {
    background-image: url('../images/patterns/ai-pattern.svg');
}
#menus .doodle {
    background-image: url('../images/patterns/hamburgers.svg');
}
#albums .doodle {
    background-image: url('../images/patterns/audio.svg');
    background-size: 143px;
}
.doodle div {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 1rem 2rem;
}
#menus-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(37, 53, 91);
    margin: 1rem auto;
}
.menu img,
#highlighters,
#monstera-x,
#squid-popup,
#squid-popup span {
    width: 60px;
}
.menu img,
.menu div {
    cursor: pointer;
}
#sloth {
    position: absolute;
    top: 30%;
}
#monstera-x {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
}
#monstera-x span {
    display: block;
    font-family: monospace;
    font-size: 35px;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}
#monstera-x img {
    position: absolute;
    width: 100%;
    opacity: .6;
}
#cues {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35px;
}
#cues img {
    position: relative;
}
@media (hover: hover) {
    #cues:hover {
        filter: brightness(1.5) !important;
    }
}
.rotate-top-cue {
    transform: rotate(327deg);
    transform-origin: top right;
    transition: transform 1s linear;
}
.hide-middle-cue {
    opacity: 0;
    transition: opacity 1s ease-out;
}
.rotate-bottom-cue {
    transform: rotate(28deg);
    transform-origin: bottom right;
    transition: transform 1s linear;
}
#highlighter-pens {
    position: absolute;
    transition: transform 1s;
}
@media (hover: hover) {
    #highlighter-pens:hover {
        transform: translateX(6.5px) !important;
    }
}
#highlighter-marks {
    height: 29.45px;
    width: unset;
}
#highlighters-x-bg {
    display: none;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-image: linear-gradient(rgb(236, 123, 82), rgb(239, 82, 84));
}
#highlighters-x-bg:hover {
    background-image: linear-gradient(rgb(237, 79, 84), rgb(237, 160, 117)) !important;
}
#highlighters-x {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgb(245, 245, 245);
}
#highlighters-x:hover {
    transform: rotate(360deg) !important;
    transition: transform 2s !important;
}
#squid-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: inherit;
}
#waves {
    position: absolute;
    z-index: 2;
}
#squid-popup span {
    display: block;
    height: 27px;
    bottom: 0;
    background-color: inherit;
    position: absolute;
    z-index: 1;
}
#squid {
    display: none;
    width: auto;
    height: 34px;
    position: relative;
}
#tridents-x {
    display: none;
}
#tridents {
    position: relative;
}
#left-trident {
    width: 45px;
    position: absolute;
    z-index: 2;
}
.rotate-trident-l {
    -webkit-animation: rotate-trident-l 2s ease-in;
    animation: rotate-trident-l 2s ease-in;
}
@-webkit-keyframes rotate-trident-l {
    0% {
        transform: '';
    }
    50% {
        transform: rotate(45deg);
        transform-origin: bottom right;
    }
    100% {
        transform: '';
    }
}
@keyframes rotate-trident-l {
    0% {
        transform: '';
    }
    50% {
        transform: rotate(45deg);
        transform-origin: bottom right;
    }
    100% {
        transform: '';
    }
}
#right-trident {
    width: 45px;
    position: relative;
}
.rotate-trident-r {
    -webkit-animation: rotate-trident-r 2s ease-in;
    animation: rotate-trident-r 2s ease-in;
}
@-webkit-keyframes rotate-trident-r {
    0% {
        transform: '';
    }
    50% {
        transform: rotate(-45deg);
        transform-origin: bottom left;
    }
    100% {
        transform: '';
    }
}
@keyframes rotate-trident-r {
    0% {
        transform: '';
    }
    50% {
        transform: rotate(-45deg);
        transform-origin: bottom left;
    }
    100% {
        transform: '';
    }
}
#bubbles {
    display: none;
    opacity: 0;
    width: 15px;
    left: 35%;
    bottom: 0;
    position: absolute;
    z-index: 1;
}
#tridents-x p {
    font-family: ff-speak-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    color: rgb(217, 241, 249);
    margin: 0;
}
#menus button {
    display: block;
    font-family: ff-speak-web, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: rgb(37, 53, 91);
    background-color: transparent;
    border: 2px solid rgb(37, 53, 91);
    height: 32px;
    width: 150px;
    margin: 0.5rem auto;
    cursor: pointer;
    
}
@media (hover: hover) {
    #menus button:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(37, 53, 91);
    }
}
#menus button:active {
    color: rgb(255, 255, 255);
    background-color: rgb(37, 53, 91);
}

/* 5. ALBUMS */

#album-carousel {
    display: block;
    background-color: rgb(15, 14, 14);
    background-image: url('../images/patterns/basketweave.svg');
    background-repeat: repeat;
    background-size: 40px;
    padding: 20px 0 10px 0;
}
#albums-wrapper {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
#albums-wrapper::-webkit-scrollbar {
    display: none;
}
.album {
    width: 35vw;
    margin-right: 20px;
    scroll-snap-align: start;
}
.album img {
    width: inherit;
}
.album:last-child {
    margin-right: 0;
}
.album-blurb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    padding: .3rem 1rem;
    margin: 0 auto;
}
.album-blurb p {
    font-family: ff-speak-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .03rem;
    color: rgb(163, 159, 153);
    margin: 0;
}
.fa-circle-info,
.fa-spotify {
    font-size: 25px;
    background-color: rgb(27, 24, 24);
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
}
.fa-circle-info {
    color: rgb(249, 244, 237);
}
.fa-spotify {
    color: rgb(30, 207, 95);
}
#albums-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
#album-carousel button {
    font-family: ff-speak-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color: rgb(247, 247, 247);
    background-color: inherit;
    border: none;
    user-select: none;
    position: relative;
    width: auto;
    padding: 0;
    cursor: pointer;
    transition: 0.3s ease;
}
@media (hover:hover) {
    #album-carousel button:hover {
        color: rgb(187, 192, 197);
    }
}
#modal {
    display: none;
    position: fixed;
    z-index: 8;
    padding: 5% 0 0 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 166, 0, 0.342);
}
#modal-box {
    position: relative;
    width: 50%;
    background-color: rgb(250, 245, 241);
    box-shadow: 0 4px 8px 0 rgba(121, 35, 4, 0.671);
    border-radius: 8px;
    margin: 0 auto;
    padding: 1rem 1.3rem;
}
#close-modal {
    display: block;
    float: right;
    font-family: ff-speak-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: rgb(163, 159, 153);
    margin: 0;
    cursor: pointer;
}
@media (hover:hover) {
    #close-modal:hover {
        color: rgba(163, 159, 153, 0.75);
    }
}
#modal-head {
    display: flex;
    align-items: flex-end;
    width: 75%;
    margin: 2rem auto;
}
#modal-box img {
    width: 45%;
}
#modal-box h2 {
    text-align: left;
    text-transform: lowercase;
    line-height: 1;
    margin: 0 0 0 2.5rem;
    padding-bottom: 1rem;
}
#modal-text {
    width: 80%;
    border-top: 10px solid;
    border-bottom: 10px solid;
    padding: 2rem 0;
    margin: 0 auto 2rem;
}
#modal-box p {
    margin: 0 0 1rem 0;
}
.ital {
    font-style: italic;
}
#modal-box p a {
    color: rgb(203, 64, 20);
    text-decoration: underline dashed rgb(255, 165, 0);
}
#modal-box p a:visited {
    opacity: .7;
}
@media (hover:hover) {
    #modal-box p a:hover {
        color: rgb(255, 165, 0);
        text-decoration: underline solid rgb(203, 64, 20);
    }
}
.spotify-link .fa-spotify {
    display: inline;
    background-color: transparent;
    margin: 0 5px 0 0;
}
a.spotify-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: fit-content;
    margin: 2.5rem 0 0 0;
}
a.spotify-link p {
    display: inline;
    text-transform: uppercase;
    color: rgb(108, 118, 139);
    margin: 0 !important;
    border-bottom: 1px dashed !important;
}
@media (hover:hover) {
    a.spotify-link p:hover {
        color: rgb(163 170 184);
        border-bottom: 1px solid rgb(30, 208, 95) !important;
    }
}

/* 6. MEDIA QUERIES */

@media only screen and (max-width: 415px) {

    /* PATTERNS */

    #patterns-wrapper {
        background-size: 40px;
    }
    .parallelogram,
    .pattern {
        transform: unset;
    }

    /* ALBUMS */

    .album {
        width: 100vw;
        margin-right: 0;
    }
    #modal {
        padding: 10% 0 0 0;
    }
    #modal-box {
        width: 90%;
    }
    #modal-box h2 {
        margin: 0 0 0 1rem;
        font-size: 1.5rem;
    }
    #modal-box p {
        font-size: 1.1rem;
    }
}