/* --------------
STYLE SECTIONS
1. GLOBAL
2. HEADER
3. HERO
4. ABOUT
5. PROJECTS
6. FOOTER
7. MEDIA QUERIES
-------------- */

/* 1. GLOBAL */

html {
    font-size: 16px;
    box-sizing: border-box;
    height: -webkit-fill-available;
}
* {
    box-sizing: inherit;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
main section {
    padding: 4rem 0 0 0;
}
.doodle {
    background-repeat: repeat;
    background-size: 143px;
    padding: 4rem 0;
}
.doodle div {
    width: fit-content;
    height: fit-content;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 1rem 2rem;
}
h1,
#footer-logo p {
    font-family: shelby, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .04rem;
    text-transform: lowercase;
    margin: 0;
}
h2,
h3 {
    font-family: chippewa-falls, sans-serif;
    font-style: normal;
}
p,
.prev, 
.next,
.project-blurb,
.github-link-line {
    font-family: ff-speak-web, sans-serif;
    font-weight: 700;
    font-style: normal;
}
#mobile-nav-x,
.nav-links a,
.keys,
#hero-tagline,
#copyright {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}
h2 {
    font-weight: 400;
    font-size: 2.5rem;
    color: rgb(23, 86, 86);
    letter-spacing: .1rem;
    text-align: center;
}
p {
    font-size: 1.12rem;
    letter-spacing: .04rem;
    line-height: 1.5;
    text-align: justify;
    color: rgb(78, 93, 126);
}
.nbsp {
    white-space: nowrap;
}

/* 2. HEADER  */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: rgb(32, 30, 30);
    transition: background-color 1s ease;
    box-shadow: 0px 1px 4px 2px rgba(74, 71, 71, 0.25);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 0.5rem 0;
}
#constellation,
#constellation-menu {
    height: 2rem;
}
.star-pulse {
    -webkit-animation-name: star-pulse;
    animation-name: star-pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
@-webkit-keyframes star-pulse {
    from {
        filter: saturate(1);
    }
    to {
        filter: saturate(5);
    }
}
@keyframes star-pulse {
    from {
        filter: saturate(1);
    }
    to {
        filter: saturate(5);
    }
}
h1 {
    font-size: 1.8rem;
    color: rgb(245, 245, 245);
}
#hamburger {
    position: relative;
    z-index: 5;
    cursor: pointer;
    display: none;
}
.close-nav {
    position: absolute;
    top: .8rem;
    right: 2.5rem;
    height: 2rem;
    width: 2rem;
    background-color: rgba(233, 237, 223, 0.439);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    z-index: 5;
    cursor: pointer;
    display: none;
}
#mobile-nav-x {
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(90, 104, 64);
    margin: 0;
}
@media (hover: hover) {
    .close-nav:hover,
    #mobile-nav-x:hover {
        transition: 2s;
    }
    .close-nav:hover {
        background-color: rgba(90, 104, 64, 0.439);
    }
    #mobile-nav-x:hover {
        transform: rotate(90deg);
        color: rgb(248, 248, 255);
    }
}
#constellation-menu
#mobile-nav-x {
    display: none;
}
@media (hover: hover) {
    #constellation-menu:hover {
        transition: 2s;
        filter: saturate(2.5);
    }
}
nav {
    position: relative;
    z-index: 6;
}
ul {
    margin: 0;
}
.nav-links {
    margin-left: .8rem;
    display: inline;
    list-style: none;
}
.nav-links a {
    font-weight: 200;
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(245, 245, 245);
    cursor: pointer;
}
@media (hover: hover) {
    .nav-links a:hover {
        letter-spacing: .1rem;
        border-bottom: 2px solid rgb(222, 237, 141);
        transition: 1s;
    }
}

/* 3. HERO */

#hero {
    background-image: url('../images/backgrounds/nacht.png');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
#hero-wrapper {
    margin: 0 auto 1rem;
    width: 75%;
}
#keys-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-name {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.keys {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(245, 235, 222);
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 5px;
    background-color: rgb(19, 16, 16);
    margin: .4rem;
    cursor: default;
}
@media (hover: hover) {
    .keys:hover {
        color: rgb(245, 245, 245);
    }
    .keys:hover,
    #hero-tagline:hover {
        box-shadow: 0 0 5px 3px rgb(199, 199, 199);
    }
}
#hero-tagline {
    font-weight: 200;
    font-size: 1.3rem;
    color: rgb(245, 235, 222, .56);
    background-color: rgb(19, 16, 16);
    border-radius: 5px;
    width: fit-content;
    padding: .6rem 1.3rem;
    margin: .5rem auto 1rem;
    cursor: default;
}
#scroll-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(155, 204, 204);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}
#scroll-indicator img {
    width: 20px;
    padding-top: 3px;
}
.point-down {
    -webkit-animation: pointDown 1s ease-in 1s;
    -webkit-animation-iteration-count: 2;
    animation: pointDown 1s ease-in 1s;
    animation-iteration-count: 2;
}
@-webkit-keyframes pointDown {
    0% {top: 0px;}
    25% {top: 8px;}
    75% {top: -5px;}
    100% {top: 0px;}
}
@keyframes pointDown {
    0% {top: 0px;}
    25% {top: 8px;}
    75% {top: -5px;}
    100% {top: 0px;}
}

/* 4. ABOUT */

#about {
    position: relative;
    background-color: rgb(255, 250, 240);
}
#about .doodle {
    opacity: 0;
    background-image: url('../images/patterns/about-pattern.svg');
}
#about .doodle div {
    background-color: rgb(255, 250, 240);
}
#about-wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
    padding: 0 0 4rem 0;
    margin: 4rem auto 0;
    width: 75%;
    opacity: 0;
    top: 30px;
}
#about-wrapper > * {
    width: 45%;
}
#about-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid rgb(233, 236, 228);
    padding: 1.5rem;
}
#about-icons i {
    font-size: 1.5rem;
    color: rgb(84, 95, 120);
}
#about-icons img {
    height: 1.5rem;
}

/* 5. PROJECTS */

#projects {
    background-image: linear-gradient(185deg, rgb(91, 146, 165) 3%, rgb(132, 151, 214) 25%, rgb(35, 47, 87) 40%);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;
}
#projects .doodle {
    background-image: url('../images/patterns/projects-pattern.svg');
}
#projects .doodle div {
    background-image: linear-gradient(185deg, rgb(107, 148, 185) 25%, rgb(116, 149, 194) 60%, rgb(123, 150, 203) 90%);
}
#projects h2 {
    color: rgb(236, 241, 248);
}
#projects-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url('../images/patterns/starry-pattern.png');
    background-size: 250px;
    padding: 0 1rem 4rem 1rem;
    margin: 4rem 0 0 0;
}
.project-card {
    width: 29%;
    flex: auto;
    margin: 1.8rem 1.4rem;
    border-radius: 8px;
    background-color: rgb(239, 239, 239);
    box-shadow: 3px 3px 8px 1px rgba(190, 220, 246, .35);
}
.project-card,
.carousel {
    min-width: 350px;
}
.carousel {
    width: 100%;
    position: relative;
}
.prev, 
.next {
    font-size: 3rem;
    color: rgb(154, 213, 183);
    background-color: inherit;
    border: none;
    user-select: none;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -40px;
    padding: 0 .3rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
@media (hover: hover) {
    .prev:hover, .next:hover {
        background-color: rgba(38, 68, 72, .89);
    }
}
.carousel-nav {
    width: 100%;
    text-align: center;
    position: absolute;
}
.carousel-dot {
    width: 1.8rem;
    height: 0.25rem;
    margin: 0 .4rem;
    border: none;
    border-radius: 2px;
    background-color: rgb(174, 181, 185);
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
@media (hover: hover) {
    .carousel-dot:hover {
        background-color: rgb(50, 65, 78);
    }
}
.current-dot {
    background-color: rgb(50, 65, 78);
}
.card-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.card-text {
    padding: 1.4rem 1.4rem 0 1.4rem;
}
#tallest-card {
    height: fit-content;
}
h3 {
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: lowercase;
    letter-spacing: .1rem;
    color: rgb(78, 93, 126);
    margin: .5rem 0 1rem 0;
}
h3 a {
    color: rgb(215, 99, 92);
    text-decoration: none;
}
@media (hover: hover) {
    h3 a:hover,
    .github-links:hover {
        opacity: .7;
    }
}
.project-blurb {
    font-size: 1.12rem;
    letter-spacing: .01rem;
    line-height: 1.25;
    color: rgb(50, 65, 78);
}
#nbsp {
    white-space: nowrap;
}
.github-link-line {
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 800;
    font-size: .75rem;
    padding: 1.4rem;
    background-color: rgb(50, 65, 78);
    border-radius: 0 0 8px 8px;
}
.github-link-line i {
    font-size: 1.1rem;
    color: rgb(154, 213, 183);
    padding-right: .5rem;
}
.github-links {
    letter-spacing: .05rem;
    color: rgb(245, 255, 250);
    border-bottom: 1px dashed;
    text-decoration: none;
    text-transform: uppercase;
}
.divider-line {
    color: rgb(154, 213, 183);
    padding: 0 .3rem;
}

/* 6. FOOTER */

footer {
    width: 100%;
    margin-top: auto;
    position: relative;
    background-color: rgb(52, 52, 52);
    padding: 40px 30px 20px;
}
#social-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
}
#social-wrapper a i {
    color: rgb(143, 139, 124);
    font-size: 45px;
    padding: 4px 20px;
    cursor: pointer;
}
@media (hover: hover) {
    #social-wrapper a i:hover {
        opacity: .5;
    }
}
#footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 4rem auto 1rem;
}
#footer-logo p {
    font-size: 1.5rem;
    color: rgb(143, 139, 124);
    cursor: default;
}
#footer-logo img {
    display: block;
    width: 4rem;
    padding: 0 5px 0 2px;
}
#copyright {
    font-size: .8rem;
    text-align: center;
    color: rgb(143, 139, 124);
    margin: 0;
}

/* 7. MEDIA QUERIES */

@media only screen and (max-width: 1216px) {
    #projects .doodle div {
        background-image: linear-gradient(185deg, rgb(100, 148, 176) 25%, rgb(106, 148, 183) 60%, rgb(111, 148, 189) 90%);
    }

    /* ABOUT */

    #about-wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
    #about-wrapper > div {
        width: 100%;
        padding: 2rem;
    }
    #portrait {
        width: 70%;
    }
}

@media only screen and (max-width: 821px) {
    #projects .doodle div {
        background-image: linear-gradient(185deg, rgb(93, 147, 167) 25%, rgb(95, 147, 170) 60%, rgb(98, 148, 174) 90%);
    }
}

@media only screen and (max-width: 800px) {

    /* HEADER */

    #constellation {
        display: none;
    }
    #hamburger {
        display: block;
    }
    nav {
        position: fixed;
        top: 0;
        left: 100%;
        background-image: url('../images/backgrounds/bathing-pool.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
    }
    #haze {
        position: absolute;
        height: 100%;
        width: 100%;
        background: radial-gradient(at 10% 5%, rgba(246, 251, 241, 0.69) 55%, transparent 70%);
        background-repeat: no-repeat;
    }
    ul {
        position: relative;
        padding: 0;
        margin-top: 15%;
        z-index: 7;
    }
    .nav-links a,
    .nav-links a:visited {
        display: block;
        font-size: 2rem;
        text-transform: lowercase;
        color: rgb(18, 58, 47);
        border-bottom: 1px solid rgb(134, 153, 147);
        margin: 0;
        padding: 0 0 0 5%;
        width: fit-content;
    }
    @media (hover: hover) {
        .nav-links a:hover {
            font-weight: 400;
            color: rgb(57, 127, 155);
            border-bottom: 3px solid rgb(88, 153, 151);
        }
    }
    .nav-links a:active {
        font-weight: 400;
        color: rgb(57, 127, 155);
        border-bottom: 3px solid rgb(88, 153, 151);
    }
    .close-nav {
        display: flex;
    }
    #constellation-menu,
    #mobile-nav-x {
        display: block;
        cursor: pointer;
    }

    /* HERO */

    .keys {
        font-size: 1.3rem;
        height: 2.5rem;
        width: 2.5rem;
        margin: .25rem;
    }
    #hero-tagline {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 440px) {

    /* HERO */

    #hero,
    #pattern {
        background-attachment: scroll;
    }
    #hero-wrapper {
        margin: 0 auto 20%;
    }
    .keys {
        font-size: 1.05rem;
		height: 2.1rem;
		width: 2.1rem;
		margin: .21rem;
    }
    #hero-tagline {
        font-size: 1.05rem;
    }

    /* ABOUT */

    #about-wrapper {
        width: 100%;
        padding: 0 0 2rem 0;
    }
}

@media only screen and (max-width: 415px) {

    /* GLOBAL */

    .doodle h2 {
        margin: 0;
    }
    
    /* HEADER */

    header {
        padding: 0.5rem 1rem;
    }
    .close-nav {
        right: 1rem;
    }

    /* HERO */

    .keys {
        font-size: .8rem;
        height: 2rem;
        width: 2rem;
        margin: .15rem;
    }
    #hero-tagline {
        font-size: 1rem;
    }
}
